@use '@styles/globals' as *;

.settings-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(48);
  height: rem(48);
  background-color: var(--color-surface);
  border-radius: 50%;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-sm);
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  &:hover {
    background-color: var(--color-surface-hover);
    box-shadow: var(--shadow-md);
  }
  & svg {
    width: 20px;
    height: 20px;
    fill: var(--color-icon);
    transition: fill 0.3s;
    &:hover {
      fill: var(--color-icon-hover);
    }
  }
}
