@use '@styles/globals' as *;

.settings-content {
  position: absolute;
  top: rem(80);
  left: rem(24);
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
  border-radius: rem(12);
  padding: rem(16);
  box-shadow: var(--shadow-lg);
  min-width: rem(200);
  z-index: 101;
}
